@charset "ISO-8859-1";

h2
{
	text-align: center;
}

.border
{
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	border-radius: 5px;
	/* padding: 3vw; */
	padding: 1vw 2vw 2vw 2vw;
}

.quizQuestion
{
 	margin-bottom: 1%;
}

.answer
{
	padding-left: 5em;
}

i.delQuestionBtn, i.delArgumentBtn
{
 	color: red;
}

#newQuestionBtn, #generate_newArg
{
	color: green;
}

i.delQuestionBtn:hover, #newQuestionBtn, i.delArgumentBtn:hover, #generate_newArg
{
 	cursor: pointer;
}

#nQuiz_contest, #nQuiz_name
{
	width: auto;
}
/* .text-center > .input-group
{
	margin-left: 25vw;
	margin-right: 25vw;
} */

.answer .form-check
{
	width: auto;
}

#createQuizBtn
{
	margin-bottom: 2%;
}

#generateQuizBtn
{
	float:right;
}

.delArgumentBtn
{
	margin-top: 1.7em;
}

.questionArgument .row .col-md-2 .form-group
{
	text-align: center;
}

.questionArgument .row .col-md-1
{
	width: 0;
}

#generate_form > .form-control-static
{
	font-weight: bold;
}

#totalArgsNumber
{
	margin-left: 4.5%;
	margin-top: -3%;
}

@media only screen and (max-width: 700px)
{
    .border
    {
        padding: 1vw 5vw 2vw 5vw;
    }
}